/*
love loading animation
A PEN BY minh duc
Credit: https://codepen.io/minhductxn/pen/KVbNBw
*********************/

#base{
  -webkit-transform-style:preserve-3d;   
  position:absolute;
  top:50%;
  left:50%;
  height:100px;
  width:100px;
  background-color:black;
  -webkit-transform : translate(-50%,-50%) rotateX(90deg);
  -webkit-animation : anim 3s infinite linear;
}
@-webkit-keyframes anim {
  0%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(0deg);}
  15%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(0deg);}
  25%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(90deg);}
  40%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(90deg);}
  50%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(180deg);}
  65%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(180deg);}
   75%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(270deg);}
  90%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(270deg);}
 100%{-webkit-transform : translate(-50%,-50%) rotateX(90deg) rotateZ(360deg);}
}

#loving {position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,100%);
    text-align: center;
  font: 2em 'Pacifico';
  color: black;
  
}

.f11{
  
  position: absolute;
  left:50%;
  top:50%;
  height:70px;
  width:32px;
  overflow:hidden;
  -webkit-transform-style:preserve-3d;
  -webkit-transform-origin: 0 50%;
  -webkit-transform: translate(0%,-50%) rotateX(-90deg);
}

.f11:after{
  content:"";
  position:absolute;
  left:-15px;
  border-top-left-radius:30px;
  border-top-right-radius:50px;
  width: 40px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  
  -webkit-animation: c1 3s infinite linear;
}

@-webkit-keyframes c1 {
  0%{background-color:rgba(0, 206, 201,1.0);}
  15%{background-color:rgba(0, 206, 201,1.0);}
  25%{background-color:rgba(0, 206, 201,1.0);}
  30%{background-color:rgba(214, 48, 49,1.0);}
  40%{background-color:rgba(214, 48, 49,1.0);}
  50%{background-color:rgba(214, 48, 49,1.0);}
  65%{background-color:rgba(214, 48, 49,1.0);}
  75%{background-color:rgba(214, 48, 49,1.0);}
  90%{background-color:rgba(0, 206, 201,1.0);}
  100%{background-color:rgba(0, 206, 201,1.0);}

}

@-webkit-keyframes c2 {
    0%{background-color:rgba(0, 184, 148,1.0);}
  15%{background-color:rgba(0, 184, 148,1.0);}
  25%{background-color:rgba(0, 184, 148,1.0);}
  30%{background-color:rgba(0, 184, 148,1.0);}
  40%{background-color:rgba(0, 184, 148,1.0);}
  50%{background-color:rgba(253, 203, 110,1.0);}
  65%{background-color:rgba(253, 203, 110,1.0);}
  75%{background-color:rgba(253, 203, 110,1.0);}
  90%{background-color:rgba(253, 203, 110,1.0);}
  100%{background-color:rgba(0, 206, 201,1.0);}
}

.f12{
  
  position: absolute;
  left:50%;
  top:50%;
  height:70px;
  width:32px;
  overflow:hidden;
  -webkit-transform-style:preserve-3d;
  -webkit-transform-origin: 0 50%;
  -webkit-transform: translate(0%,-50%) rotateX(-90deg) rotateY(90deg);
}

.f12:after{
  content:"";
  position:absolute;
  left:-15px;
  border-top-left-radius:30px;
  border-top-right-radius:50px;
  width: 40px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  
  -webkit-animation: c2 3s infinite linear;

}

.f13{
  
  position: absolute;
  left:50%;
  top:50%;
  height:70px;
  width:32px;
  overflow:hidden;
  -webkit-transform-style:preserve-3d;
  -webkit-transform-origin: 0 50%;
  -webkit-transform: translate(0%,-50%) rotateX(-90deg) rotateY(180deg);
}

.f13:after{
  content:"";
  position:absolute;
  left:-15px;
  border-top-left-radius:30px;
  border-top-right-radius:50px;
  width: 40px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  
-webkit-animation: c1 3s infinite linear;
}

.f14{
  
  position: absolute;
  left:50%;
  top:50%;
  height:70px;
  width:32px;
  overflow:hidden;
  -webkit-transform-style:preserve-3d;
  -webkit-transform-origin: 0 50%;
  -webkit-transform: translate(0%,-50%) rotateX(-90deg) rotateY(270deg);
}

.f14:after{
  content:"";
  position:absolute;
  left:-15px;
  border-top-left-radius:30px;
  border-top-right-radius:50px;
  width: 40px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  
-webkit-animation: c2 3s infinite linear;
}
