@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css');
@import url('./bootstrap.min.css');
@import url('./animate.min.css');
@import url('./featherlight.css');
@import url('./featherlight.gallery.css');
@import url('./audioplayer.css');
@import url('./preloading.css');
/* General */
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #fff;
	font-weight: 400;
	font-style: normal;
}
#preloader {
	height: 100%;
	width: 100%;
	background-color: #fb7ba8;
	position: fixed;
	z-index: 15000;
	float: left;
}
/* Layout */
section {
	overflow: hidden;
}
/* General Element */
.lovely-ma-max-150 {
	max-width: 150px;
}
.lovely-ma-max-64 {
	max-width: 64px;
}
/* General Form */
input:focus, input:active, input:active:focus, input:active:focus,
textarea:focus, textarea:active, textarea:active:focus, textarea:active:focus,
.btn:focus, .btn:active, .btn:active:focus, .btn:active:focus { 
	outline: 2px solid #ffbdd3 !important;
	border-color: #ffbdd3 !important;
	box-shadow: 0 0 0 0.2rem #ffbdd3 !important;
}
/* General Cursor */
.lovely-ma-cursor-pointer {
	cursor: pointer;
}
/* General Progress Bar */
.progress-wapper p { margin: 35px 0 5px 0; }
.progress-wapper .progress { border: 1px solid #990066; }
.progress-wapper .progress-bar { background-color: #e84393 !important; }
/* General Typo */
.display-1, .display-2, .display-3, .display-4,
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu', sans-serif !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: 300 !important;
}
.text-white, .text-white * { color: white; }
.text-pink-light { color: #fd79a8;}
.text-pink-dark { color: #e84393;}
a { color: #e84393;}
a:hover { color: #fd79a8;}
/* General Button and Background */
.link-white-bg { background-color: rgba(255,255,255,.75);}
.pink-light { background: #fd79a8;}
.pink-dark { background-color: #e84393;}
.btn-primary, .bg-primary, .badge-primary  { background-color: #5D67D8 !important; border: 1px solid #3639A6 !important;}
.btn-outline-primary {border: 1px solid #e84393 !important;color: #e84393;}
.btn-primary:hover, .btn-outline-primary:hover { background-color: #fd79a8 !important; border: 1px solid #e84393 !important;}
.btn-primary { border: 1px solid #fd79a8;}
.btn-success, .bg-success { background-color: #00b894 !important;}
.btn-success:hover, .btn-outline-success:hover { background-color: #55efc4 !important; border: 1px solid #00b894;}
.btn-success { border: 1px solid #55efc4;}
.btn-info, .bg-info { background-color: #00cec9 !important;}
.btn-info:hover, .btn-outline-info:hover { background-color: #81ecec !important; border: 1px solid #00cec9;}
.btn-info { border: 1px solid #81ecec;}
.btn-warning, .bg-warning { background-color: #fdcb6e !important;}
.btn-warning:hover, .btn-outline-warning:hover { background-color: #ffeaa7 !important; border: 1px solid #fdcb6e;}
.btn-warning { border: 1px solid #ffeaa7;}
.btn-danger, .bg-danger { background-color: #d63031 !important;}
.btn-danger:hover, .btn-outline-danger:hover { background-color: #ff7675 !important; border: 1px solid #d63031;}
.btn-danger { border: 1px solid #ff7675;}
.btn-light, .btn-outline-light { background: #ececec !important;}
.btn-primary, .bg-primary, .btn-success, .bg-success, .btn-info, .bg-info, .btn-danger, .bg-danger, 
.btn-primary * , .bg-primary * , .btn-success * , .bg-success * , .btn-info * , .bg-info * , .btn-danger * , .bg-danger  * ,
.btn-primary .blockquote-footer , .bg-primary .blockquote-footer , .btn-success .blockquote-footer , 
.bg-success .blockquote-footer , .btn-info .blockquote-footer , .bg-info .blockquote-footer , .btn-danger .blockquote-footer , 
.bg-danger  .blockquote-footer { color: #fff !important;}
/* Header */
header {
	width: 100%;
	z-index: 1500;
	position: fixed;
	background-color: #fd79a8;
	border-bottom: 3px solid #e84393;
}
header a {
	color: #f6f6f7;
	margin: auto .5em auto .5em;
}
header .navbar {
	padding: 0;
}
header a.navbar-brand {
	margin-left: 0;
	height: 60px;
	line-height: 50px;
}
header a.navbar-brand i {
	font-size: .8em;
	margin-top: -5px;
}
header a.navbar-brand:hover {
	color: #000;
}
header .navbar-nav > li {
	height: 75px;
}
header li.nav-item:hover,
header li.nav-item > a.active,
header li.dropdown:hover {
	background: #e84293;
}
header li.nav-item:hover > a ,
header li.dropdown:hover > a {
	color: #fff;
	transition-duration: .5s;
}
header li.nav-item > a ,
header li.dropdown > a{
	line-height: 62px;
}
header .dropdown {
	padding-top: 8px;
}
header .dropdown a:hover {
	text-decoration: none;
}
header .dropdown .dropdown-menu {
	margin-top: 3px;
	background-color: #fd79a8;
	border-color: #e84393;
}
header .dropdown .dropdown-menu .dropdown-item {
	margin: 0;
}
header .dropdown .dropdown-menu .dropdown-item:hover,
header .dropdown .dropdown-menu .dropdown-item:focus,
header .dropdown .dropdown-menu .dropdown-item:active {
	background-color: #e84393;
}
/* generic-jumboton */
section#generic-jumboton {
	height: 500px;
}
/* Call to Action */
section#call-to-action {
	background: #c0c0c0 url('../images/call_to_action_bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}
section#call-to-action .container .row {
	height: 600px;
}
/* Contact Map */
#tooplate_contact_map {
	height:300px;
	background-color: #e84393;
}
/* Footer */
footer p {
	color: #fff;
	padding-top: 15px;
}
footer a, footer a:hover {
	color: #fff;
	text-decoration: none;
}
footer a:hover {
	color: #f3a3c9;
}
footer a.nav-link {
	text-decoration: underline;
}
footer a.nav-link:hover {
	text-decoration: none;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	.card-columns {
	    column-count: 1;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
	.card-columns {
	    column-count: 2;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.card-columns {
	    column-count: 2;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.card-columns {
	    column-count: 3;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.card-columns {
	    column-count: 3;
	}
}